// Color - primary
$orange: hsl(25, 97%, 53%);

// Color - Natural
$white: hsl(0, 0%, 100%);
$lightGrey: hsl(217, 12%, 63%);
$medimGrey: hsl(216, 12%, 54%);
$darkBlue: hsl(213, 19%, 18%);
$veryDarkBlue: hsl(216, 12%, 8%);

// font-size
$fs-sm: 0.9375rem; // 15px

// font-weight
$fw-default: 400;
$fw-bold: 700;
