@use "./sassStyles/variables" as *;

.app-container {
	background-color: $veryDarkBlue;

	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
}

.app-content {
	max-width: 25.625rem; // 410px
	width: 90%;
	border-radius: 0.9375rem; // 15px
	padding: 1.5625rem; // 25px

	background: radial-gradient($medimGrey, $darkBlue);
}

.card-rating {
	display: flex;
	flex-direction: column;
	align-items: start;
	justify-content: space-between;
	gap: 22px;
}

.star-container {
	width: 2.6875rem; // 43px
	height: 2.6875rem;
	border-radius: 50%;

	display: flex;
	align-items: center;
	justify-content: center;
	background-color: $darkBlue;
}

h2 {
	color: $white;
	font-size: 1.125rem; // 18px
	font-weight: 700;
}

p {
	font-size: 0.75rem; // 12px
	color: $medimGrey;
	font-weight: 700;
}

.rating-values {
	display: flex;
	align-items: center;
	justify-content: space-between;

	margin: 0;
	padding: 0;
	list-style: none;
	width: 100%;
}

.rating-value {
	width: 43px;
	height: 43px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: $medimGrey;
	border-radius: 50%;
	color: $lightGrey;
}

.btn-container {
	width: 100%;

	.btn {
		border-radius: 100vw;
		background-color: $orange;
		color: $white;

		width: 100%;
		border: 0;
		padding: 1.125rem; // 18px

		text-transform: uppercase;
		font-size: 0.75rem; // 12px
		font-weight: 700;
		letter-spacing: 3px;
	}
}
