@use "./sassStyles/variables" as *;

.app-container {
	background-color: $veryDarkBlue;
	height: 100vh;
}

.card-container {
	max-width: 25.625rem; // 410px
	width: 90%;
	border-radius: 0.9375rem; // 15px
	overflow: hidden;
}
